body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    width: 100%;
}

nav .mobile{
}

nav .logo{
    min-width: 250px;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover{
    color: black;
    background-color: #30f730;
}

nav .desktop{
    display: flex;  
    justify-content: space-between;
}